@media only screen and (max-width: 500px) {
  .conteudo {
    left: 15%;
    right: 15%;
    background: linear-gradient(260deg, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%);
  }

  .botoes {
    background-color: rgba(0, 0, 0, 0);
    min-width: 100vw;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-evenly;
    gap: 0;
    z-index: 1;
  }

  .botoes .botao {
    width: 50px;
    height: 50px;
    margin-bottom: 45px;
  }

  .botoes .botao img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  #hillbilly {
    background-image: url("../images/bg-hillbilly-mobile.png");
  }
}